.hed{
    background-color:green;
    display: flex;
    justify-items: center;
    height: 50px;
    justify-content: space-between;
    padding-top: 15px;
    

}
.hed,a{
    color: white;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
}
.ativo{
    display: none;
}